// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cursive {
	font-family: 'Tangerine', cursive;
}

a.cell {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 8px;
}

a.event {
	color: #6b7;
	&:visited {
		color: #4a6;
	}
}

a.btn-month {
	position: absolute;
	top: 43vh;
	color: white;
}

th {
	color: white;
	background-color: #6b8;
}

th.fixed_width {
	width: 14vw;
}

td.cell {
	color: #6b8;
	padding: 0px !important;
	&:hover {
		font-weight: bold;
		background-color:#ced !important;
	}
}
td.fixed_size {
  height: 20vh;
}

td.past {
	color: #aaa;
	background-color:#fafafa;
}
td.current {
	background-color:#dfe;
}
